<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="springTool" class="com.nc.utils.SpringTool"></bean>

    <bean id="readXml" class="com.nc.core.excel.util.ReadXML">
        <property name="resource" value="classpath:/config/dbf-param.xml"></property>
    </bean>

</beans>