<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager" />
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

    <!-- 会话管理器 -->
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <!-- session的失效时长，单位毫秒 -->
        <property name="globalSessionTimeout" value="1800000"/>
        <!-- 删除失效的session -->
        <property name="deleteInvalidSessions" value="true"/>
    </bean>

    <!-- 配置权限管理器 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!-- ref对应我们写的realm  MyRealm -->
        <property name="realm" ref="myRealm"/>
        <!-- 使用下面配置的缓存管理器 -->
        <property name="cacheManager" ref="cacheManager"/>
        <property name="sessionManager" ref="sessionManager" />
    </bean>

    <!-- 配置shiro的过滤器工厂类，id- shiroFilter要和我们在web.xml中配置的过滤器一致 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!-- 调用我们配置的权限管理器 -->
        <property name="securityManager" ref="securityManager"/>
        <!-- 配置我们的登录请求地址 -->
        <property name="loginUrl" value="/apis/_login/noLogged"/>
        <!-- 配置我们在登录页登录成功后的跳转地址，如果不配置则跳转到return返回的地址 -->
        <!--<property name="successUrl" value="/page/newCentury/newTest"/>-->
        <!-- 如果您请求的资源不再您的权限范围，则跳转到/404请求地址 -->
        <property name="unauthorizedUrl" value="/apis/_login/noPermission"/>
        <!-- 权限配置 -->
        <property name="filterChainDefinitions">
            <value>
                <!-- anon表示此地址不需要任何权限即可访问 -->
                /js/**=anon
                /image/**=anon
                /_login/_login=anon
                /_login/noLogged=anon
                /excel/**=anon
                <!-- roles[manager]表示访问此连接需要用户的角色为manager -->
                <!--/new/**=roles[manager]-->
                /cache/**=roles[Enginner]
                <!--所有的请求(除去配置的静态资源请求或请求地址为anon的请求)都要通过登录验证(authc),如果未登录则跳到/login-->
                /** = authc
            </value>
        </property>
    </bean>

</beans>